
<%= render "layouts/search" %>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
          <h3>Create you humor offer</h3>
          <%= simple_form_for @listing do |f| %>
            <%= f.input :name %>
            <%= f.select :category, options_for_select(%w[witty dark dry slapstick family puns self-depreciating toilet satire awkward cringe]) %>
            <%= f.input :description%>
            <%= f.input :location %>
            <%= f.input :availability %>
            <%= f.input :price %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: 'btn btn-flat' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
