<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3 style="font-family: 'Gluten'; font-size: 30px; color: #333;"> Create your humour offer </h3>
        <%= simple_form_for @listing do |f| %>
          <%= f.input :name, label_html: {style: "font-family: Gluten; font-size: 25px"}, placeholder: 'Your humour' %>
          <%= f.select :category, options_for_select(%w[witty dark dry slapstick family puns self-depreciating toilet satire awkward cringe]), label_html: {style: "font-family: Gluten; font-size: 25px"} %>
          <%= f.input :description, placeholder: 'What is your humour about', label_html: {style: "font-family: Gluten; font-size: 25px"} %>
          <%= f.input :location, placeholder: 'London', label_html: {style: "font-family: Gluten; font-size: 25px"} %>
          <%= f.input :availability, label_html: {style: "font-family: Gluten; font-size: 25px"} %>
          <%= f.input :price, label_html: {style: "font-family: Gluten; font-size: 25px"} %>
          <%= f.input :photo, as: :file, label_html: {style: "font-family: Gluten; font-size: 25px"} %>
          <%= f.submit class: 'btn listing-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
