<%= render 'layouts/navbar' %>

<div class="container">
  <h1 class="m-3"><%= @listing.name %></h1>

  <div class="card-trip">
    <% if listing.photo.attached? %>

    <% end %>
    <img src="../app/assets/images/Laughing.png" />
    <div class="card-trip-infos">
      <div style="background-image: url(<%=  %>)">
        <h2><%= @listing.location %></h2>
        <p> <%= @listing.description %></p>
      </div>
      <p>Reserve this humour</p>
      <h2 class="card-trip-pricing">£<%= @listing.price %></h2>
      <i class="fa-solid fa-user-astronaut card-trip-user avatar-large"></i>
    </div>
  </div>
</div>
<%=  %>
