<div class="container">
  <h1 class="m-5"><%= @listing.name %></h1>

  <div class="card-trip m-3">
    <% if @listing.photo.attached? %>
      <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
     <% else %>
      <%= image_tag "lauging-image.png", height: 300, width: 400, crop: :fill %>
    <% end %>
      <div class="card-trip-infos">
        <div>
          <h3><%= @listing.location %></h3>
          <h2><%= @listing.category %></h2>
        </div>
      <h2 class="card-trip-pricing">£<%= @listing.price %> /night</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-product m-3">
    <div class="card-product-infos">
      <p><%= @listing.description %></p>
    </div>
  </div>

  <div class="card m-3 p-2">
   <h5>What this <%= @listing.category %> humour has to offer:</h5>
   <ul class="list-unstyled p-1">
    <li><i class="fa-regular fa-face-grin-squint-tears"></i>  Laugh till you cry</li>
    <li><i class="fa-solid fa-face-laugh-beam"></i>  Smile till your cheeks hurt</li>
    <li><i class="fa-regular fa-face-laugh-squint"></i>  Giggle like a kid again </li>
    <li><i class="fa-solid fa-square-person-confined"></i>  Some may question the type of humour</li>
    <li><i class="fa-solid fa-face-laugh-wink"></i>  But will always laugh out of pitty</li>
   </ul>
  </div>


    <%= simple_form_for [@listing, @booking] do |f| %>
    <%= f.input :date, as: :date %>
    <div class="center-button">
    <div class="date-container">
    <%= f.submit "Book this Humour!", class: "custom-button-class" %>
    </div>

  <% end %>
    </div>
 



  <%# <div class="m-4">
    <%= link_to "Book this humour!", new_listing_booking_path(@listing), class: "btn btn-primary" %>
  <%# </div> %>


  <div class="m-5">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
   </div>


 <p><strong>Reviews: </strong></p>

  <ul class="list-group">
    <% @listing.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %> |
      <% if review.rating == 1 then %><i class="fa-solid fa-star"></i><% end %><% if review.rating == 2 then %><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><% end %><% if review.rating == 3 then %><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><% end %><% if review.rating == 4 then %><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><% end %><% if review.rating == 5 then %><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><% end %></li>
    <% end %>
  </ul>
</div>
