<%= render 'layouts/navbar' %>

<div class="container">
  <h1 class="m-3"><%= @listing.name %></h1>

  <div class="card-trip m-3">
    <%# if @listing.photo.attached? %>
  <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
     <%# else %>
      <%= image_tag "Laughing.png" %>
    <%# end %>
   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2><%= @listing.location %></h2>
          <p> <%= @listing.description %></p>
        </div>
      <h2 class="card-trip-pricing">£<%= @listing.price %> /night</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-product m-3">
    <div class="card-product-infos">
      <h5>Reserve this humour</h5>
      <p>Available dates</p>
    </div>
  </div>
</div>
