<h1>Your Bookings</h1>

<% @bookings.each do |booking| %>
  <div class="booking">
    <p><strong>Listing:</strong> <%= booking.listing.title %></p>
    <p><strong>Category:</strong> <%= booking.listing.category %></p>
    <p><strong>Price:</strong> <%= booking.listing.price %></p>
    <p><%= link_to "Add a review", new_listing_review_path(@listing), class: "approve" %></p>
  </div>
<button type="button" class="approve" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a review
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center;">Comment and rate the humour! Remember: Everything is humourous!</p>
        <div>
          <%= simple_form_for [@listing, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, priority: [ "1" ], collection: [ 1, 2, 3, 4, 5] %>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
