
<div class= "container-fluid" style="padding-bottom:100px;">
  <div class="row">
    <h1 class= "font_listing text-center"> My Bookings</h1>
        <% @bookings.each do |booking| %>
          <div class="listings-card col-12 col-sm-3 mb-4 rounded" data-aos="zoom-in">
            <div class=" bg-white rounded shadow h-100">
            <% if booking.listing.photo.attached? %>
              <%= cl_image_tag(booking.listing.photo.key, height: 300, crop: :fill, alt: booking.listing.name, class: "humour-img rounded-top" )%>
              <div class="p-3 rounded-bottom d-flex flex-column">
                <strong><%= link_to booking.listing.name, root_path, class: 'text-decoration-none text-reset' %> <span class="text-muted font-weight-normal"><i class="fa-solid fa-sterling-sign"></i><%= booking.listing.price %></strong>
                <em><small class="text-muted"><%= booking.listing.location %></small></em>
             <% if booking.approved? %>
             <em><small class="text-muted">approved</small></em>
             <% else %>
             <em><small class="text-muted"> to be approved...</small></em>
             <% end %>
                  <%= link_to "Cancel", booking_path(booking),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel your booking?"}, class: "btn btn-cancel btn-sm" %>
              <% else %>
              <%= image_tag 'https://clipart-library.com/images/rcLoyeB6i.jpg', alt: booking.listing.name, class: "humour-img rounded-top" %>
              <div class="p-3 rounded-bottom d-flex flex-column">
                <strong><%= link_to booking.listing.name, root_path, class: 'text-decoration-none text-reset' %> <span class="text-muted font-weight-normal"><i class="fa-solid fa-sterling-sign"></i><%= booking.listing.price %></strong>
                <em><small class="text-muted"><%= booking.listing.location %></small></em>
              <% if booking.approved? %>
             <em><small class="text-muted">approved</small></em>
             <% else %>
             <em><small class="text-muted"> to be approved...</small></em>
             <% end %>
                <%= link_to "Cancel",  booking_path(booking),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel your booking?"}, class: "btn btn-cancel btn-sm" %>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
   <%# <%= link_to "Create new Booking", new_listing_booking(booking.listing), class: "btn btn-primary" %>
</div>
